{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>{{ title }}</h1>
<div class="card-group">
  <div class="card">
      <h6 class="card-header">Balance</h6>
      <div class="card-body">
        <h3 class="text-center">{{ "€ %.2f" % balance }}</h3>
      </div>
      <div class="card-footer">
        <small class="text-muted">Current, from all times</small>
      </div>
    </div>
    <div class="card">
      <h6 class="card-header">Recon</h6>
      <div class="card-body">
        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
        <h3 class="text-center">€ {{ form.amount(size=8, onchange="submit()") }}</h3>
        </form>
      </div>
      <div class="card-footer">
        <small class="text-muted">Point in time, for reconciliation</small>
      </div>
    </div>
    <div class="card">
      <h6 class="card-header">To Reconcile</h6>
      <div class="card-body">
        <h3 class="text-center">{{ "€ %.2f" % diff }}   /   {{ diff_p }}%</h3>
      </div>
      <div class="card-footer">
        <small class="text-muted">Gap in account transactions</small>
      </div>
    </div>
</div>
<br>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <div class="col-sm-2">
      {{ form.start_date.label }}
      {{ form.start_date(style="width: 100%", onchange="submit()") }}
  </div>
  <div class="col-sm-2">
    {{ form.end_date.label }}
    {{ form.end_date(style="width: 100%", onchange="submit()") }}
  </div>
</form>
<div class="col-sm-8">
  <nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#accountActions" aria-controls="accountActions" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="accountActions"> 
    <div class="float-end">
      <a href="{{ url_for('add_transaction') }}" class="btn btn-primary">Add Transaction</a>
      <a href="{{ url_for('add_transfer') }}" class="btn btn-primary">Add Transfer</a>
      <!--a href="{{ url_for('update_balance') }}" class="btn btn-primary">Edit Account</a-->
      {% if account_type == 'Investment' %}
        <a href="{{ url_for('update_balance') }}" class="btn btn-primary">Update Balance</a>
      {% endif %}
    </div>
  </div>
  </nav>
</div>
<div class="row"></div>
<br>
<div class="row">
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Tag</th>
      </tr>
    </thead>
    <tbody>
      {% for trx in account_trx %}
      <tr>
          <td>{{ trx.date }}</td>    
          <td>{{ "€ %.2f" % trx.amount }}</td> 
          <td>{{ trx.name }}</td>
          <td>{{ trx.tag }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  <br>
  <br>
{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        var scrollpos = localStorage.getItem('scrollpos');
        if (scrollpos) window.scrollTo(0, scrollpos);
    });

    window.onbeforeunload = function(e) {
        localStorage.setItem('scrollpos', window.scrollY);
    };
    jQuery( ".date-form").submit( function(e) {
        localStorage.setItem('scrollpos', window.scrollY);
    });
</script>
{% endblock %}