{% extends "base.html" %}

{% block app_content %}
<h1>Accounts</h1>
<br>
<br>
<div class="row">
  {% for account in accounts %}
  <div class="col-sm-4">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-header">
        {{ account.name }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ account.type }}</h5>
        <a href="{{ url_for('account_detail', account=account.name) }}" class="btn btn-primary">{{ "€ %.2f" % account.balance }}</a>
      </div>
    </div>
    <br>
  </div>
  {% endfor %}
</div>
<br>
<br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <a href="{{ url_for('add_account') }}" class="btn btn-primary">Add Account</a>
      <a href="{{ url_for('add_transfer') }}" class="btn btn-primary">Add Transfer</a>
  </div>
</div>
<br>  
{% endblock %}
