{% extends "base.html" %}

{% block app_content %}
<style>
  .modal-header:before {
    content: none;
  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<h1>Accounts</h1>
<br>
<br>
<div class="row">
  {% for account in accounts %}
  <div class="col-sm-4">
    <div class="card text-center">
      <div class="card-header" id="account_name" style="white-space: nowrap;">
        <div class="col-sm-12">
          {{ account.name }}
        </div>
        <!-- Trigger the modal with a button -->
        <div>
          <button type="button" class="btn btn-outline-primary" style="margin-left: -15%;" data-toggle="modal" data-target="#myModal{{account.id}}"><i class="fa fa-pencil"></i></button>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ account.type }}</h5>
        <a href="{{ url_for('account_detail', account=account.name) }}" class="btn btn-primary">{{ "€ %.2f" % account.balance }}</a>
      </div>
    </div>
    <br>
  </div>
  <!-- Modal -->
  <div id="myModal{{account.id}}" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="{{account.id}}" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="justify-content:space-between;">
          <h4 class="modal-text">Edit Account</h4>
        </div>
        <div class="modal-body">
          <form action="" method="post">
            <input type="integer" id="id" name="id" value="{{ account.id }}" hidden="True"/>
            {% for key in form %}
            <div class="form-group">
                <label for="{{ key }}" class="col-form-label">{{ key }}</label>
                <input type="{{ form[key] }}" class="form-control" id="{{ key }}" name="{{ key }}" value="{{ account[key] }}"/>
            </div> 
            {% endfor %}
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>  
  {% endfor %}
</div>
<br>
<br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <a href="{{ url_for('add_account') }}" class="btn btn-primary">Add Account</a>
      <a href="{{ url_for('add_transfer') }}" class="btn btn-primary">Add Transfer</a>
  </div>
</div>
<br>  
{% endblock %}
