{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1> {{ title }} </h1>
    <div class="card-group">
        {% set y = namespace(value=0) %}
        {% for k,v in balance_by_type.items() %}
        {% set y.value = y.value + v %}
        <div class="card">
            <h5 class="card-header">{{ k }}</h5>
            <div class="card-body">
              <h3 class="text-center">€ {{ v }}</h3>
            </div>
            <div class="card-footer">
              <small class="text-muted">Current, from all times</small>
            </div>
          </div>
        {% endfor %}
        <div class="card">
          <h5 class="card-header">Overall</h5>
          <div class="card-body">
            <h3 class="text-center">€ {{ y.value }}</h3>
          </div>
          <div class="card-footer">
            <small class="text-muted">Current, from all times</small>
          </div>
        </div>
    </div>
    <br>
    <div>
        <form action="" method="post">
          {{ form.hidden_tag() }}
          <div class="col-md-2">
            {{ form.start_date.label }}
            {{ form.start_date(size=32) }}
          </div>
          <div class="col-md-2">
            {{ form.end_date.label }}
            {{ form.end_date(size=32, onchange="submit()") }}
          </div>
          <div class="col-md-3">
            {{ form.type.label }}<br>
            {{ form.type(class_="select2", style="width: 100%",onchange="submit()") }}<br>
          </div>
        </form>
        <br>
        <br>
    </div>
    <div>
    <br>
    <br>
    <table id="data" class="table table-striped">
        <thead>
            <tr>
                <th>Accounts</th>
            {% for m in month_range %}
                <th>{{ m }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% set i = namespace(value=0) %}
        {% for acc in acc_range %}
            <tr>
            <td>{{ acc }}</td>
            {% for m in month_range %}
                <td>{{ acc_trimmed[acc][m] }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
  </div>
  <br>
  <br>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.select2').select2({
            placeholder: 'Select Type',
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#data').DataTable();
    });
</script>
{% endblock %}
