{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1> {{ title }} </h1>
    <div class="card-group">
        {% set y = namespace(value=0) %}
        {% for k,v in balance_by_type.items() %}
        {% set y.value = y.value + v %}
        <div class="card">
            <h5 class="card-header">{{ k }}</h5>
            <div class="card-body">
              <h3 class="text-center">{{ "€ %.2f" % v }}</h3>
            </div>
            <div class="card-footer">
              <small class="text-muted">Current, from all times</small>
            </div>
          </div>
        {% endfor %}
        <div class="card">
          <h5 class="card-header">Overall</h5>
          <div class="card-body">
            <h3 class="text-center">{{ "€ %.2f" % y.value }}</h3>
          </div>
          <div class="card-footer">
            <small class="text-muted">Current, from all times</small>
          </div>
        </div>
    </div>
    <br>
    <div>
        <form action="" id="date-form" method="post">
          {{ form.hidden_tag() }}
          <div class="col-md-2">
            {{ form.start_date.label }}
            {{ form.start_date(style="width: 100%", onchange="submit()") }}
          </div>
          <div class="col-md-2">
            {{ form.end_date.label }}
            {{ form.end_date(style="width: 100%", onchange="submit()") }}
          </div>
        </form>
        <br>
        <br>
    </div>
    <div>
  </div>
  <br>
  <br>
  <div>
    <canvas id="GiroBarChart" style="width:100%;max-width:500px;height:400px;margin: 0 auto;"></canvas>
  </div>
  <br>
  <br>
  <div class="row" style="display: flex;">
    <div class="col-md-6"><canvas id="IncomePieChart" style="width:100%;max-width:400px;margin: 0 auto;"></canvas></div>
    <div class="col-md-6"><canvas id="ExpensePieChart" style="width:100%;max-width:400px;margin: 0 auto;"></canvas></div>
  </div>
  <br>
  <br>
  <div class="chartSankey">
    <canvas id="chartSankey" style="width:100%;max-width:700px;height:400px;margin: 0 auto;"></canvas>
  </div>
  <br>
  <br>
  <div>
    <canvas id="InvestBarChart" style="width:100%;max-width:500px;height:400px;margin: 0 auto;"></canvas>
  </div>
  <input type="hidden" name="scrollPosition" class="scrollPosition" />
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.3/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-chart-sankey"></script>
<script type="text/javascript">
    
    function loadSankeyChart(income_keys, income_values, expense_keys, expense_values) {
        var lab = [...income_keys, ...expense_keys];

        var colors = {}

        var colorArray = ['#FF6633', '#FFB399', '#FF33FF', '#FFFF99', '#00B3E6', 
            '#E6B333', '#3366E6', '#999966', '#99FF99', '#B34D4D',
            '#80B300', '#809900', '#E6B3B3', '#6680B3', '#66991A', 
            '#FF99E6', '#CCFF1A', '#FF1A66', '#E6331A', '#33FFCC',
            '#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC', 
            '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399',
            '#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680', 
            '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
            '#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3', 
            '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'];

        var datInc = income_keys.map(function(val, ind) {
            if (Math.abs(income_values.at(ind)) > 0) {
            colors[val] = colorArray.at(ind);
            return {from: val, to: "Income", flow: Math.abs(income_values.at(ind))}
            } else {
                return {}
            }
        });
        var datExp = expense_keys.map(function(val, ind) {
            if (Math.abs(expense_values.at(ind)) > 0) {
            colors[val] = colorArray.at(-ind);
            return {from: "Income", to: val, flow: Math.abs(expense_values.at(ind))}
            } else {
                return {}
            }
        });
        var dat = [...datInc, ...datExp];

        function getColor(name) {
            return colors[name] || "green";
            }
        
        var chart = new Chart("chartSankey", {
            type: "sankey",
            data: {
                datasets: [
                {
                    data: dat,
                    labels: lab,
                    colorFrom: (c) => getColor(c.dataset.data[c.dataIndex].from),
                    colorTo: (c) => getColor(c.dataset.data[c.dataIndex].to),
                    borderWidth: 2,
                    borderColor: 'black'
                }
                ]
            }
            });
        };

    function load_bar_chart(type, val) {
        const GiroBarChart = new Chart( "GiroBarChart", {
        type: 'bar',
        data: {
            labels: type,
            datasets: [{
                data: val,
                backgroundColor: barColors,
                borderWidth: 2,
            }]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Monthly view of Giro Position',
                },
                legend: {
                    display: false,
                },
                backgroundColor: '#dcdcdc'
            },
            animation: {
                duration: 1500, // set the animation duration in milliseconds
                 easing: 'easeInOutQuart' // set the easing function for the animation
            }
        }
        }
        );
    }
    var labels = {{ giro_labels | tojson }}
    var values = {{ values }}
    var barColors = ["#00aba9", "#b91d47", "#1e7145"]
    load_bar_chart(labels, values);

    function load_pie_chart(income_keys, income_values, expense_keys, expense_values) {
        const IncomePieChart = new Chart( "IncomePieChart", {
        type: 'doughnut',
        data: {
            labels: income_keys,
            datasets: [{
                data: income_values,
                backgroundColor: colorArray.reverse(),
                borderWidth: 2,
            }]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Monthly view of Income',
                },
                legend: {
                    display: false,
                }
            },
            //backgroundColor: '#dcdcdc',
            animation: {
                duration: 1500, // set the animation duration in milliseconds
                 easing: 'easeInOutQuart' // set the easing function for the animation
            }
        }
        }
        );
        const ExpensePieChart = new Chart( "ExpensePieChart", {
        type: 'doughnut',
        data: {
            labels: expense_keys,
            datasets: [{
                data: expense_values,
                backgroundColor: colorArray,
                borderWidth: 2,
            }]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Monthly view of Expense',
                },
                legend: {
                    display: false,
                }
            },
            //backgroundColor: '#dcdcdc',
            animation: {
                duration: 1500, // set the animation duration in milliseconds
                 easing: 'easeInOutQuart' // set the easing function for the animation
            }
        }
        }
        );
    }
    var income_keys = {{ income_keys | tojson }};
    var income_values = {{ income_values }};
    var expense_keys = {{ expense_keys | tojson }};
    var expense_values = {{ expense_values }};
    var colorArray = ['#FF6633', '#FFB399', '#FF33FF', '#FFFF99', '#00B3E6', 
		  '#E6B333', '#3366E6', '#999966', '#99FF99', '#B34D4D',
		  '#80B300', '#809900', '#E6B3B3', '#6680B3', '#66991A', 
		  '#FF99E6', '#CCFF1A', '#FF1A66', '#E6331A', '#33FFCC',
		  '#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC', 
		  '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399',
		  '#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680', 
		  '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
		  '#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3', 
		  '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'];
    load_pie_chart(income_keys, income_values, expense_keys, expense_values);

    loadSankeyChart(income_keys, income_values, expense_keys, expense_values);

    function load_inv_bar_chart() {
        const InvestBarChart = new Chart( "InvestBarChart", {
            type: 'bar',
            data: {
                labels: range,
                datasets: dataset
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Investment Overview',
                    },
                    legend: { 
                        position: 'bottom' 
                    }
                },
                backgroundColor: '#dcdcdc',
                animation: {
                    duration: 1500, // set the animation duration in milliseconds
                    easing: 'easeInOutQuart' // set the easing function for the animation
                },
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x:{
                        stacked: true,
                        gridLines: {
                        display: false,
                        }
                    },
                    y:{
                        stacked: true,
                        ticks: {
                        beginAtZero: true,
                        },
                        type: 'linear',
                    }
                },
            }
        }
        );
    }

    //Expect to receive; range ["January","February","March"]; values:{"comdirect":[1,2,3], "trade_republic":[6,1,2]}
    //Then I would yet get a list of accounts ["comdirect","trade_republic"]
    var range = {{ range_ | tojson }}
    var accounts = {{ accounts_| tojson }}
    var values = {{ values_ | tojson }}

    //define where the dataset is stored to be passed to the Chart
    const dataset = [];
    colourInv = ['#caf270','#45c490','#008d93','#2e5468','#FBE7C6','#B4F8C8','#A0E7E5','#FFAEBC','#B99095','#FCB5AC','#B5E5CF','#3D5B59'];

    //dataset builder based on accounts
    accounts.forEach(function (account, i) {
            dataset.push({
                label:account, 
                data:values[account], //here I expect to pass values that match range length
                backgroundColor: colourInv[i],
                borderWidth: 2,
            })
        });

    load_inv_bar_chart()

</script>
<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        var scrollpos = localStorage.getItem('scrollpos');
        if (scrollpos) window.scrollTo(0, scrollpos);
    });

    window.onbeforeunload = function(e) {
        localStorage.setItem('scrollpos', window.scrollY);
    };
    jQuery( ".date-form").submit( function(e) {
        localStorage.setItem('scrollpos', window.scrollY);
    });
</script>
{% endblock %}