{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1> {{ title }} </h1>
    <div class="card-group">
        {% set y = namespace(value=0) %}
        {% for k,v in balance_by_type.items() %}
        {% set y.value = y.value + v %}
        <div class="card">
            <h5 class="card-header">{{ k }}</h5>
            <div class="card-body">
              <h3 class="text-center">{{ "€ %.2f" % v }}</h3>
            </div>
            <div class="card-footer">
              <small class="text-muted">Current, from all times</small>
            </div>
          </div>
        {% endfor %}
        <div class="card">
          <h5 class="card-header">Overall</h5>
          <div class="card-body">
            <h3 class="text-center">{{ "€ %.2f" % y.value }}</h3>
          </div>
          <div class="card-footer">
            <small class="text-muted">Current, from all times</small>
          </div>
        </div>
    </div>
    <br>
    <div>
        <form action="" id="date-form" method="post">
          {{ form.hidden_tag() }}
          <div class="col-md-2">
            {{ form.start_date.label }}
            {{ form.start_date(size=32, onchange="submit()") }}
          </div>
          <div class="col-md-2">
            {{ form.end_date.label }}
            {{ form.end_date(size=32, onchange="submit()") }}
          </div>
        </form>
        <br>
        <br>
    </div>
    <div>
  </div>
  <br>
  <br>
  <div>
    <canvas id="myChart" style="width:100%;max-width:700px;margin: 0 auto;"></canvas>
  </div>
  <br>
  <br>
  <input type="hidden" name="scrollPosition" class="scrollPosition" />
{% endblock %}
{% block scripts %}
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script type="text/javascript">
    function load_bar_chart(type, val) {
        const myChart = new Chart( "myChart", {
        type: 'bar',
        data: {
            labels: type,
            datasets: [{
                data: val,
                backgroundColor: barColors,
                borderWidth: 1,
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Monthly view of Giro Position',
            },
            legend: {
                display: false,
            },
            backgroundColor: '#dcdcdc',
            animation: {
                duration: 1500, // set the animation duration in milliseconds
                 easing: 'easeInOutQuart' // set the easing function for the animation
            }
        }
        }
        );
    }
    var labels = {{ labels | tojson }}
    var values = {{ values }}
    var barColors = ["#00aba9", "#b91d47", "#1e7145"]
    load_bar_chart(labels, values);
</script>
<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        var scrollpos = localStorage.getItem('scrollpos');
        if (scrollpos) window.scrollTo(0, scrollpos);
    });

    window.onbeforeunload = function(e) {
        localStorage.setItem('scrollpos', window.scrollY);
    };
    jQuery( ".date-form").submit( function(e) {
        localStorage.setItem('scrollpos', window.scrollY);
    });
</script>
{% endblock %}