{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <div class="card-group">
        {% set y = namespace(value=0) %}
        {% for k,v in balance_by_type.items() %}
        {% set y.value = y.value + v %}
        <div class="card">
          <a href="{{ url_for('balance_view', types=k , start_date=form.start_date.data, end_date=form.end_date.data) }}"><h5 class="card-header">{{ k }}</h5></a>
            <div class="card-body">
              <h3 class="text-center">{{ "€ %.2f" % v }}</h3>
            </div>
            <div class="card-footer">
              <small class="text-muted">Current, from all times</small>
            </div>
          </div>
        {% endfor %}
        <div class="card">
          <h5 class="card-header">Overall</h5>
          <div class="card-body">
            <h3 class="text-center">{{ "€ %.2f" % y.value }}</h3>
          </div>
          <div class="card-footer">
            <small class="text-muted">Current, from all times</small>
          </div>
        </div>
    </div>
    <br>
    <br>
    <div>
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="col-md-2">
          {{ form.start_date.label }}
          {{ form.start_date(style="width: 100%", onchange="submit()") }}
        </div>
        <div class="col-md-2">
          {{ form.end_date.label }}
          {{ form.end_date(style="width: 100%", onchange="submit()") }}
        </div>
        <div class="col-md-4">
          {{ form.type.label }}
          {{ form.type(class_="select2", style="width: 100%",onchange="submit()") }}<br>
        </div>
      </form>
    </div>
    <br>
    <br>
    <div>
      <br>
      <br>
      <table id="data" class="table table-striped">
          <thead>
            <tr>
              <th rowspan=2>#</th>
              <th rowspan=2>Category</th>
              <th rowspan=2>Budget</th>
              {% if range_count %}
                <th colspan= {{range_desc|count}}>Amount</th>
              {% else %}
                <th colspan=2>Amount</th>
              {% endif %}
            </tr>
            <tr>
              {% if range_desc %}  
                {% for i in range_desc %}
                <th>{{ i }}</th>
                {% endfor %}
              {% endif %}
              <th rowspan=2>Average</th>
            </tr>
          </thead>
          <tbody>
            {% if cat_range %}  
              {% set i = namespace(value=0) %}
              {% for cat in cat_range %}
                <tr>
                  <td><a href="{{ url_for('transactions', categories=cat, start_date=form.start_date.data, end_date=form.end_date.data) }}"><i class="fa fa-plus"></i></a></td>
                  <td>{{ cat }}</td>    
                  <td>{{ "€ %.2f" % bdgt_range[i.value] }}</td> 
                  {% set i.value = i.value + 1 %}  
                  {% set trx_list = trx_by_cat.get(cat) %}
                  {% for sum in trx_list %}
                    {% if not sum %}
                      {% set sum = 0.00 %}
                    {% endif %}
                    <td>{{ "€ %.2f" % sum }}</td>
                  {% endfor %}
                  <td>{{ "€ %.2f" % avg_by_cat.get(cat) }}</td>
                </tr>
              {% endfor %}
            {% endif %}
          </tbody>
      </table>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
      $(document).ready(function() {
        $('.select2').select2({
       placeholder: 'Select Type',
});
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function(event) { 
          var scrollpos = localStorage.getItem('scrollpos');
          if (scrollpos) window.scrollTo(0, scrollpos);
      });
  
      window.onbeforeunload = function(e) {
          localStorage.setItem('scrollpos', window.scrollY);
      };
      jQuery( ".date-form").submit( function(e) {
          localStorage.setItem('scrollpos', window.scrollY);
      });
  </script>
{% endblock %}
