{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<style>
  .modal-header:before {
    content: none;
  }
</style>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <div class="col-md-2">
        {{ form.start_date.label }}
        {{ form.start_date(style="width: 100%", onchange="submit()") }}
      </div>
      <div class="col-md-2">
        {{ form.end_date.label }}
        {{ form.end_date(style="width: 100%", onchange="submit()") }}
      </div>
      <div class="col-md-3">
        {{ form.account.label }}<br>
        {{ form.account(class_="select2", style="width: 100%",onchange="submit()") }}<br>
      </div>
      <div class="col-md-3">
        {{ form.category.label }}<br>
        {{ form.category(class_="select2", style="width: 100%",onchange="submit()") }}<br>
      </div>
    </form>
    <br>
    <br>
  </div>
  <div>
    <br>
    <br>
    <table id="data" class="table table-striped">
        <thead>
          <tr>
              <th>Id</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Account</th>
              <th>Category</th>
              <th>Tag</th>
              <th>Description</th>
              <th>Created_At</th>
          </tr>
        </thead>
        <tbody>
        {% for trx in transactions %}
          <tr>
            <td><a data-toggle="modal" data-target="#myModal{{trx.id}}" href="#myModal{{trx.id}}">{{ trx.id }}</a></td>
            <td>{{ trx.date }}</td>
            <td>{{ "€ %.2f" % trx.amount }}</td>
            <td>{{ trx.account }}</td>
            <td>{{ trx.category }}</td>
            <td>{{ trx.tag }}</td>
            <td>{{ trx.description }}</td>
            <td>{{ trx.created_at }}</td>
          </tr>
          <!-- Modal -->
          <div id="myModal{{trx.id}}" class="modal fade" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" id="{{trx.id}}" role="document">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header" style="justify-content:space-between;">
                  <h4 class="modal-text">Edit Transaction</h4>
                </div>
                <div class="modal-body">
                  <form action="/transactions/edit" method="post">
                    <input type="integer" id="id" name="id" value="{{ trx.id }}" hidden="True"/>
                    <input type="text" id="prev_start_date" name="prev_start_date" value="{{ form.start_date.data }}" hidden="True"/>
                    <input type="text" id="prev_end_date" name="prev_end_date" value="{{ form.end_date.data }}" hidden="True"/>
                    {% for key in form_id %}
                    <div class="form-group">
                        <label for="{{ key }}" class="col-form-label">{{ key }}</label>
                        <!-- To invocate the values inside the edit Transaction form-->
                        <input class="form-control" id="{{ key }}" name="{{ key }}" value="{{ trx[key] }}"/>
                    </div> 
                    {% endfor %}
                    <div class="modal-footer">
                      <button type="submit" name="action" value="saveNew" class="btn btn-secondary">Save as New</button>
                      <button type="submit" name="action" value="save" class="btn btn-primary">Save changes</button>
                      <button type="submit" name="action" value="delete" class="btn btn-danger">Delete</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}
{% block scripts %}
<script> const $ = jQuery; </script>
<script>
  $(document).ready(function () {
      $('#data').DataTable({
          responsive: true,
          searching: true,
          ordering: true,
          order: [[0, 'desc']],
          pageLength: [20],
          rowReorder: {
            selector: 'td:nth-child(2)'
        },
        } 
      );
      });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.select2').select2({
            placeholder: 'Select Type',
        });
    });
</script>
{% endblock %}